<!-- Bootstrap Container -->
<div class="container-fluid">
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">JobNest</a>
        <div class="d-flex">
          <a class="btn btn-outline-light me-2" [routerLink]="'/profile'">Profile</a>
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
      </div>
    </nav>
  
    <div class="row">
      <!-- Sidebar -->
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column mt-5">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="'/dashboard'">Dashboard</a>
            </li>
  
            <!-- Job Seeker Sidebar -->
            <ng-container *ngIf="userRole === 'job_seeker'">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/applied-jobs'">Applied Jobs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/job-matches'">Job Matches</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/edit-profile'">Edit Profile</a>
              </li>
            </ng-container>
  
            <!-- Employer Sidebar -->
            <ng-container *ngIf="userRole === 'employer'">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/create-job'">Create Job</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/view-applications'">View Applications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/profile'">View Profile</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </nav>
  
      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <router-outlet></router-outlet> <!-- Dynamic Content -->
      </main>
    </div>
  </div>
  